body {
  background-color: lavender;
}
h1 {
  color: indigo;
}
h3 {
  color: mediumpurple;
}
img {
  color: thistle;
}
body {
  color: indigo;
}
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  background-color: thistle;
}
