body {
  background: rgb(148,178,233);
  background: radial-gradient(circle, rgba(148,178,233,1) 0%, rgba(238,174,202,1) 100%);
  justify-content: center;
  align-items: center;
}

.typewriter h1 {
  color: indigo;
  font-family: 'Brush Script MT', cursive;
  font-size:10vw;
  max-width:100%;
  overflow: hidden;
  border-right: .15em solid plum;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .10em;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .8s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: plum }
}

h3 {
  text-align: center;
  color: mediumpurple;
}

h2 {
  text-align: center;
}

img {
  max-width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid thistle;
}

.responsive {
  max-width: 100%;
  height: auto;
}

iframe {
  frameborder: 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%;
  }
}

body {
  text-align: center;
  color: indigo;
  font-size: 17px;
  justify-content: center;
  align-items: center;
}

h4 {
  text-align: center;
}

ul.myUL {
  display: inline-block;
  text-align: left;
}

table, th, td {
  margin-left: auto; 
  margin-right: auto;
  border: 1px solid white;
  border-collapse: collapse;
  background-color: thistle;
}

button {
  border: 0.2rem solid mediumpurple;
  border-radius: 4px;
  height: 6.75rem;
  width: 300px;
  line-height: 2.5rem;
  font-size: 60px;
  color: indianred;
  background-color: transparent;
  transition: transform 50ms;
  padding: 10px;
  margin: 10px;
  font-family: 'SimSun';
  box-sizing: border-box;
}

button:hover {
  background-color: thistle;
}

button:active {
  transform: translateY(0.1rem);
}

.small {
  font-size: 70px;
  color: firebrick; 
}

.medium {
  font-size: 80px;
  color: darkred;  
}

.large {
  font-size: 90px;
  color: maroon;
}

.results {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'papyrus';
  font-size: 30px;
  color: mediumpurple;
}

.result {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 400px;
  width: 300px;
}

.result img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  text-align: center;
  padding: 3px;
}
