body {
  background: rgb(148,178,233);
  background: radial-gradient(circle, rgba(148,178,233,1) 0%, rgba(238,174,202,1) 100%);
  justify-content: center;
  align-items: center;
}

.typewriter h1 {
  color: indigo;
  font-family: 'Brush Script MT', cursive;
  font-size:10vw;
  max-width:100%;
  overflow: hidden;
  border-right: .15em solid plum;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .10em;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .8s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: plum }
}

h3 {
  text-align: center;
  color: mediumpurple;
}
h2 {
  text-align: center;
}
img {
  color: thistle;
  max-width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.responsive {
  max-width: 100%;
  height: auto;
}
p {
  text-align: center;
  color: mediumpurple;
  font-family: 'Brush Script MT', cursive;
  font-size:50px;
}

* {
  box-sizing: border-box;
}

.left {
  background-color: #2196F3;
  padding: 20px;
  float: left;
  width: 20%;
}

.main {
  background-color: #f1f1f1;
  padding: 20px;
  float: left;
  width: 60%;
}

.right {
  background-color: #04AA6D;
  padding: 20px;
  float: left;
  width: 20%;
}

@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%;
  }
}

body {
  text-align: center;
  color: indigo;
  font-size: 17px;
  justify-content: center;
  align-items: center;
}
h4 {
  text-align: center;
}
ul.myUL {
  display: inline-block;
  text-align: left;
}
table, th, td {
  margin-left: auto; 
  margin-right: auto;
  border: 1px solid white;
  border-collapse: collapse;
  background-color: thistle;
}

button {
  border: 0.2rem solid mediumpurple;
  border-radius: 0.6rem;
  height: 6.75rem;
  width: 7.5rem;
  line-height: 2.5rem;
  font-size: 5rem;
  color: indianred;
  background-color: transparent;
  transition: transform 50ms;
}

button:hover {
  background-color: thistle;
}

button:active {
  transform: translateY(0.1rem);
}
.small {
  font-size: 5.7rem;
  color: firebrick; 
}
.medium {
  font-size: 6.5rem;
  color: darkred;  
}
.large {
  font-size: 7.2rem;
  color: maroon;
}

.card {
  background-color: transparent;
  color: indianred;
  padding: 2em;
  border: 1rem solid thistle;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.card:hover {
  background-color: thistle;
}
.search {
  align-items: center;
  justify-content: center;
}
input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: indianred;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

#duch_container {
    width: 300px;
    height: 300px;
    padding: 0;
    box-sizing: border-box;
    background: #424f6f;
}

*:after,
*:before {
    box-sizing: inherit;
}

#spooky {
    margin: 10% auto;
    width: 80%;
    height: 80%;
    animation: floaty 2s infinite;
}

#spooky #body {
    position: relative;
    margin: 50px auto 0;
    width: 180px;
    height: 220px;
    background: #f2fbf1;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}

#spooky #body:before,
#spooky #body:after {
    content: '';
    position: absolute;
    top: 130px;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #f2fbf1;
    animation: floaty .2s infinite;
}

#spooky #body:before {
    left: -18px;
}

#spooky #body:after {
    right: -18px;
}

#spooky #body #eyes {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 90px 0 0;
    width: 90px;
    height: 20px;
}

#spooky #body #eyes:before,
#spooky #body #eyes:after {
    content: ' ';
    display: block;
    width: 30px;
    height: 30px;
    background: #252c49;
    border-radius: 50%;
}

#spooky #body #mouth {
    background: #252c49;
    margin: 25px auto 0;
    width: 60px;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#spooky #body #mouth:before {
    content: ' ';
    display: block;
    background: #fff;
    margin-left: 20px;
    width: 10px;
    height: 10px;
}

#spooky #body #feet {
    position: absolute;
    display: flex;
    bottom: -18px;
    width: 180px;
    height: 36px;
}

#spooky #body #feet > *,
#spooky #body #feet::before,
#spooky #body #feet::after {
    content: ' ';
    width: 36px;
    height: 36px;
    background: #f2fbf1;
    border-radius: 50%;
}

@keyframes floaty {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

@keyframes zoomy {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }
}
